@media (max-width: 1200px) {
	.app {
		margin-left: 5%;
		margin-right: 5%;
		.bg-decoration {
			right: -26px;
			//bottom: 200px;
			width: 350px;
		}
	}
}
@media (max-width: 990px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
	.app {
		&__header {
			display: block;
			width: 90%;
			margin-right: auto;
			margin-left: auto;
		}
		&__title {
			margin-bottom: 30px;
			display: block;
			width: 95%;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			font-size: 30px;
		}

		&__menu {
			ul {
				font-size: 33px;
			}
		}
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		.randomchar {
			width: 90%;
			margin-right: auto;
			margin-left: auto;
			display: block;
			&__static {
				margin-bottom: 50px;
			}
			&__decoration {
				width: 120px;
				right: 6px;
			}
			&__block {
				display: block;
				width: 90%;
				margin: 0 auto;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			&__title {
				margin-right: auto;
				margin-left: auto;
				font-size: 20px;
			}
		}

		.char {
			&__content {
				display: block;
				margin: 5% auto;
				width: 385px;
			}
			&__info {
				margin: 30px auto;
				width: 90%;
			}
			&__search-form {
				width: 90%;
				margin: 30px auto;
			}
			&__item {
				width: 175px;
				height: 280px;
				margin: 20px auto;
				padding: 0;
				img {
					transform: translate(0, 0);
					width: 100%;
					height: 185px;
				}
			}
			&__name {
				font-size: 18px;
				padding: 15px;
				line-height: 21px;
			}
		}

		ul.char__grid {
			display: flex;
			flex-wrap: wrap;
		}

		.bg-decoration {
			display: none;
		}

		.comics {
			&__item {
				width: 175px;
				margin-right: auto;
				margin-left: auto;
				&-img {
					width: 100%;
					height: 260px;
				}
			}

			&__grid {
				display: flex;
				flex-wrap: wrap;
			}
		}
		.single-comic {
			display: block;
			max-width: 400px;
			&__img {
				display: block;
				margin-right: auto;
				margin-left: auto;
				width: 250px;
				height: 330px;
				margin-bottom: 30px;
			}
			&__char-img {
				display: block;
				margin-right: auto;
				margin-left: auto;
				width: 250px;
				height: 280px;
				margin-bottom: 30px;
			}
			&__info {
				margin: 15px;
			}
			&__back {
				margin: 15px;
			}
		}
	}
}
